@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Merriweather";
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

hr {
  border: 0;
  padding: 7px 0;
}

h1,h2,h3,h4,h5,h6 {
  font-family: "Nunito Sans";
}

span, p {
  font-size: 18px;
  line-height: 125%;
}

.burger .burger-lines,
.burger .burger-lines:after,
.burger .burger-lines:before { background-color: #474A59; }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.project:hover img {
  transform: scale(1.1); 
}
@media (min-width: 768px) {
  .project:hover div {
    opacity: 100%;
  }
}

@layer base {
  .menu-link {
    @apply tw-relative after:tw-content-[""] after:tw-h-[2px] after:tw-w-[80%] after:tw-bg-black after:tw-absolute tw-flex tw-justify-center after:tw-top-[100%] after:tw-opacity-0 hover:after:tw-opacity-[100%] after:tw-duration-300 after:tw-ease-out tw-ease-out tw-duration-300
    tw-text-white md:tw-text-black after:tw-hidden after:md:tw-block;
  }

  p, h1, h2, span {
    @apply tw-text-black;
  }

  h2 {
    @apply tw-font-bold tw-text-[32px] md:tw-text-[52px] tw-text-center tw-text-black tw-leading-[100%];
  }

  .contact-input {
    @apply tw-max-w-[450px] tw-w-full tw-outline-none tw-px-[25px] tw-py-[9px] tw-rounded-[10px] tw-border-[2px] tw-border-[#848484] focus:tw-border-[#4f95d0];
  }

  .error-message {
    @apply tw-text-[16px] tw-text-[#cc0000] tw-font-nunito tw-font-medium tw-pt-[5px];
  }
}
